@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* padding: 1.5rem; */
  font-family: Arial, sans-serif;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.frame {
  width: 100%;
  overflow: hidden;
  background: #fff;
  padding: 1.5rem;
  max-width: 850px;
}

.box {
  /* height: 100%; */
  width: 100%;
  height: 80vh;

  aspect-ratio: 3 / 4; /* Desired aspect ratio (width/height) */
  background-color: #f0f0f0;
  max-width: 822px;
  position: relative;
  background: #e5e6e8;
  margin: auto;
}
p {
  font-family: "Poppins", sans-serif;
}
.hashtag {
  position: absolute;
  right: 5%;
  top: 3%;
  font-size: clamp(0.8125rem, 0.4219rem + 1.25vw, 1.125rem);
  font-weight: 600;
  color: #064e9e;
}
.attending,
.big-text,
.theme,
.p-text,
.date {
  margin-left: 2rem;
}

.attending {
  padding-top: 2rem;
  font-size: clamp(1.025rem, 0.0313rem + 3.5vw, 2rem);
  color: #525254;
}
.big-text {
  margin-top: 2rem;
  color: #064e9e;
}
.big-text h1 {
  font-size: clamp(1.05625rem, 0.1016rem + 3.375vw, 2rem);
  font-weight: 200;
}
.big-text h2 {
  width: 50%;
  font-size: clamp(1.75rem, -1.375rem + 10vw, 4.25rem);
  line-height: 1.15;
  font-weight: 900;
}

.mid-section {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  height: 20vh;
}

.blue {
  height: 100%;
  background: #064e9e;
  width: 55%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.red {
  height: 100%;
  background: red;
  width: 5%;
}

.image-box {
  width: 40%;
  height: 40vh;
  border: 8px solid #fff;
}
.image-box img {
  width: 100%;
  height: 100%;
  max-width: 312px;
  object-fit: cover;
}

input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  /* display: none; */
}

.theme {
  margin-top: 2rem;
  padding: 0.6rem;
  margin-left: 2rem;
  background: red;
  width: fit-content;
  color: #fff;
  font-size: clamp(0.84375rem, 0.3359rem + 1.625vw, 1.25rem);
  font-weight: 800;
}
.p-text {
  font-weight: 600;
  margin-top: 1.5rem;

  font-size: clamp(0.75rem, 0.2813rem + 1.5vw, 1.125rem);
  color: #fff;
}
.date {
  color: #064e9e;
  margin-top: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1rem, -0.0938rem + 3.5vw, 1.875rem);
  font-weight: 300;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 0 2rem;
  position: absolute;
  bottom: 2px;
}
.img-left {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex: 1;
}
.img-left img {
  height: 70px;

  /* max-width: 80px; */
  object-fit: contain;
}

.img-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.img-right p {
  text-align: right;
  font-weight: 900;
  color: #064e9e;
}
.img-right img {
  /* position: absolute;
  bottom: 0;
  right: 0; */
  /* height: 120px; */
  width: 120px;
  object-fit: contain;
}
.share-link {
  z-index: 999;
  margin-top: 2rem;
}
.share-link a {
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  background: #064e9e;
  border-radius: 8px;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.confetti {
  width: 50%;
  max-width: 412px;
  position: absolute;
  top: 17%;
  right: 1%;
}
@media screen and (max-width: 500px) {
  .box {
    height: 450px;
    aspect-ratio: unset;
    max-height: 500px;
    /* width: 100vw; */
  }
  .mid-section {
    height: 10vh;
  }
  .blue {
    width: 55%;
  }
  .image-box {
    height: 23vh;
    width: 45%;
  }
  .attending,
  .big-text {
    margin-left: 0.9rem;
  }
  .theme,
  .p-text,
  .date {
    margin-left: 0.9rem;
  }
  .date {
    margin-top: 2rem;
  }
  .theme {
    margin-top: 0rem;
    padding: 0.2rem !important;
    font-size: 12px;
  }
  .p-text {
    margin-top: 0.6rem;
    font-size: 9.2px;
    font-weight: 500;
  }
  .big-text {
    margin-top: 0.8rem;
  }
  .bottom {
    padding-left: 0.7rem;
    align-items: flex-end;
  }
  .img-left {
    gap: 0.5rem;
  }
  .img-left img {
    height: 40px;
  }
  .img-right {
    gap: 0.5rem;
    align-items: center;
  }
  .img-right img {
    width: 66px;
  }
  .img-right p {
    font-size: 11px;
    margin-top: 0.9rem;
  }
  .frame {
    padding: 0.9rem;
  }
  .iwd-img {
    max-width: unset;
    height: 80px;
  }
}

@media screen and (orientation: landscape) {
  .box {
    overflow-y: none;
    aspect-ratio: unset; /* Reset aspect ratio for landscape */
  }
}
